<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adellica.thumbkeyboard3">
   <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >
      <service android:name="com.adellica.thumbkeyboard.ThumbkeyboardIME" android:permission="android.permission.BIND_INPUT_METHOD">
         <intent-filter>
            <action android:name="android.view.InputMethod" />
         </intent-filter>
         <meta-data android:name="android.view.im" android:resource="@xml/method" />
      </service>
   </application>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.INTERNET" />
</manifest>
